{{ define "main" }}

<main class="main inner" data-sidebar-position="{{ $.Param "sidebarPosition" }}">
    <div class="list__main {{ if $.Param "enableSidebar" }}{{ if eq ($.Param "sidebarPosition") "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
        {{ partial "body/breadcrumb" . }}
        <header class="list__header">
            <h5 class="list__header--title capitalize h5">{{.Title}}</h5>
        </header>
        

        <div class="list__header--desc single__contents p2">
            I have recently started learning about and working with Kubernetes Operators. I am creating content to help myself learn and publishing publically in case it's about to help others. <br>
            
            I am making every effort to ensure that the content is correct and accurate at the time of writing but this is still pretty new to me. 
            If you find something incorrect or perhaps not explained clearly please either create an issue on GitHub using this <a href="https://github.com/SDBrett/personal-blog/issues" target="_blank">link</a> or <a href="mailto:brett@sdbrett.com" target="_blank">email me.</a>
        </div>

        <div class="summary__container" data-display="block">
          {{ $paginator := .Paginate (where .Site.RegularPages ".Params.postseries" "==" "operators").ByWeight }}
          {{ range $paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
            {{ partial "pagination/pagination" . }}
        </div>
        {{ partial "search/search-result-desktop" . }}
    </div>    

    {{ if $.Param "enableSidebar" }}
        <aside class="list__sidebar {{ if eq ($.Param "sidebarPosition") "left" }}l{{ else }}r{{ end }}" data-dir="{{ $.Param "languagedir" | default "ltr" }}">
            {{ partial "sidebar/sidebar-list" . }}
        </aside>
    {{ end }}
</main>
{{ partial "script/sidebar-script" . }}
{{ partial "script/list-script" . }}
{{ end }}